<mat-toolbar color="primary">
<mat-toolbar-row>
  <span><a (click)="navigateToHome()">Angular4-Springboot-Apps </a></span>
</mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <a (click)="navigateToToDo()">
      <img alt="ToDo App" src="../assets/image/todo.png"/>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a (click)="navigateToWeather()">
      <img alt="Weathe App" src="../assets/image/weather.png"/>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
